@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #7E7E7E;

}

hr {
    color: #eee5e9;
}
/*---Nav Bar-----*/
.navbar-dark {
    background: #92dce5;
    color:#eee5e9;
}
/*---Nav Button style-----*/
#BtnNav{
    background-color: #92dce5;
    color: #eee5e9;
    font-family: Raleway, sans-serif;
}

/*---Jumbotron-----*/
.jumbotron {
    background: transparent;
    text-align: center;
    margin-top: 20px;
  }
  
  
  h1 {
    font-family: Raleway, sans-serif;
    padding-top: 3%;
    font-size: 6.5em;
    color: #92dce5;
  }
  
  .jumbotron p {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    color: #eee5e9;
  }




  /*---JavaScript Gallery-----*/
.photo-gallery {
    font-family: Raleway, sans-serif;
    color: #92dce5;
    background-color: #7E7E7E;
  }
  
  .photo-gallery p {
    font-family: Raleway, sans-serif;
    color: #eee5e9;
  }
  
  .photo-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    
  }
  
  @media (min-width:767px) {
    .photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
    }
  }
  
  .photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom: 0;
  }
  
  .photo-gallery .photos {
    padding-bottom: 20px;
  }
  
  .photo-gallery .item {
    padding-bottom: 30px;
  }
  

  /*---Form Button-----*/
.btn {
    font-family: Raleway, sans-serif;
    color: #7E7E7E;
    background-color: #92dce5;
    float: left;
  }
  
  /*---Contact Section-----*/
  #contact{
    font-family: Raleway, sans-serif;
    color: #eee5e9;
  }
  
  
  .btn:hover {
    background-color: #7c7c7c;
    transition: 0.4s;
    opacity: 1;
  }


  /*---Footer-----*/
.footer {
    font-family: Raleway, sans-serif;
    background: #92dce5;
    margin: auto;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    padding-bottom:2px;
    color: #eee5e9;
    
  }