@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #7c7c7c;

}


header{
    background-color: #92dce5;
}