@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #7E7E7E;

}




/*---Jumbotron-----*/
.jumbotron {
    background: transparent;
    text-align: center;
    margin-top: 20px;
  }
  
  
  h1 {
    font-family: Raleway, sans-serif;
    padding-top: 1%;
    font-size: 6.3em;
    color: #eee5e9;
  }
  
  .jumbotron p {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    color: #eee5e9;
  }

/*---Footer-----*/
.footer {
    font-family: Raleway, sans-serif;
    background: #eee5e9;
    margin: auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    padding-bottom:10px;
    color: #fff;
    
  }

  /*---Form Button-----*/
.btn {
    font-family: Raleway, sans-serif;
    color: #fff;
    background-color: #eee5e9;
    float: left;
  }
  
  
  #contact{
    font-family: Raleway, sans-serif;
    color: #eee5e9;
  }
  
  
  .btn:hover {
    background-color: #7c7c7c;
    transition: 0.4s;
    opacity: 1;
  }